# Redirect everything to the /public folder if not already there
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force HTTPS if not already secure
    # RewriteCond %{HTTPS} !=on
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Do not rewrite public/index.php
    RewriteRule ^public/index\.php(/|$) - [L]

</IfModule>